* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

div#sidebar {
  color: #505050;
//  background-color: gray;
  position: fixed;
  top: 190px;
  right: -190px;
  width: 400px;
  padding: 10px 0px 10px 20px;
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
}

div#sidebar a {
  cursor: pointer;
}

div#debug {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 170px;
  padding: 10px;
  opacity: 0.75;
  font-size: small;
  background-color: #202020;
  color: gray;
}

div#images {
  margin-left: auto;
  margin-right: auto;
}

div.box {
  position: relative;
  float: left;
}

div.meta {
  position: absolute;
  top: 20px;
  left: 20px;

  font-size: small;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;

  cursor: pointer;
}

div#images img {
  margin: 0;
  padding: 0;
  display: block;
}